<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- 主菜单定义 -->
        <menuitem id="menu_todo" name="我的待办"/>
        <!-- 菜单动作定义 -->
        <record id="action_todo_task" model="ir.actions.act_window">
            <field name="name">待办事项</field>
            <field name="res_model">todo.task</field>
            <field name="view_mode">tree</field>
            <field name="target">current</field>
        </record>
        <record id="action_todo_task1" model="ir.actions.act_window">
            <field name="name">已办事项</field>
            <field name="res_model">todo.task</field>
            <field name="view_mode">form</field>
            <field name="target">current</field>
        </record>
        <!-- 子菜单定义 -->
        <menuitem action="action_todo_task" id="submenu_todo_task" name="待办事项"
                  parent="menu_todo" sequence="10"/>
        <menuitem action="action_todo_task1" id="submenu_todo_task1" name="已办事项"
                  parent="menu_todo" sequence="11"/>
    </data>
</odoo>